:host ::ng-deep .login-logo img {
    margin: auto;
    display: flex;
    border-radius: 0.25rem;
    height: 3.2rem;
}

.logo-div {
    background: linear-gradient(180deg, #3b82f6 0%, #e8efff 100%);
}