
<div class="grid-nogutter flex flex-wrap surface justify-content-center align-items-start h-screen">
    <div class="flex flex-column col-12 p-0 h-auto">
        <app-header-bar></app-header-bar>
    </div>

    <div class="col-11 h-30rem flex lg:col-8 justify-content-center">

        <div class="grid shadow-8">
            <div class="flex col-6 bg-primary justify-content-center align-items-center logo-div border-round-left">
                <div class="">
                    <p-image  class="border-round p-0 login-logo"
                        src="assets/icons/Trellei.png" 
                        alt="Image"
                        sizes="1.9rem"  />
                </div>
            </div>

            <div class="col-6 surface-50 border-round-right">
                <div class="formgrid grid align-items-center justify-content-center ">
                    <div class="field col-10">
                        <h1>Sing In</h1>
                        <span class="fs-6">Don't have an account? <p-button [styleClass]="'border-transparent'" label="Link" [link]="true" /></span>
                    </div>
                    <div class="field col-10">
                        <label for="firstname2">Email:</label>
                        <input id="firstname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                    <div class="field col-10">
                        <label for="lastname2">Password:</label>
                        <input id="lastname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                </div>
            </div>


        </div>
    </div>



</div>


